{% extends "blog_lab/base.html" %}

{% load static %}

{% block titulo_head %}
   <title>Sobre Mi</title>
{% endblock %}


{% block main %}
   <div style="margin-top:20px">
        <h2>
            <p style="color:blue;">Sobre mi</p>
        </h2>
        <p>
            Mi nombre es Helga Van der Tuin.Tengo 50 años y soy Tecnica de Laboratorio y <br>
            auxiliar Forense, con especialidad en Genetica Forense y Criminología Aplicada. <br> 
            Mi primer carrrera fue Analista de sistemas y trabaje con Clipper y C++ (si, hace <br>
            millones de años!!), pero siempre me intereso el area de salud y me cambie de rubro.<br>
            Dicen que siempre se vuelve al primer amor! Asi que hace unos años retome el camino<br>
            de la programacion, con la intencion de usarlo como un trabajo extra. <br>
            
        </p>
        <br>
        <h2>
            <p style="color:blue;">Sobre el proyecto</p>
        </h2>
        <p>
            Se trata de un blog hecho en python/django, La tematica une mis dos mundos: <br> 
            el Laboratorio y la informatica. La idea es tener un blog de consulta general, <br>  
            para otros trabajadores de Laboratorio de Analisis Clinicos que necesiten saber <br>
            las indicaciones para estudios determinados (como ayuno o indicaciones especiales), <br>
            como se realiza el estudio, etc. Tambien se puede consultar algo que no este y, al  <br> 
            ser comunitario, se pueden subir diferentes estudios y referencias que no esten. <br> 
            Gracias por confiar en el Proyecto de Laboratorio-VDT !! <br>
        </p>
   </div>

{% endblock %}